//- src/template/pages/index.pug
doctype html
html
  head
    include ../../assets/pug/template/html__head.pug
    title Главная страница
  body
    include ../../assets/pug/index/layout/header.pug
    include ../../assets/pug/index/sections/hero.pug
    h1 Добро пожаловать на главную страницу
    p Это основной контент страницы.
