@mixin center {
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

@mixin center-y {
	top: 50%;
	translate: 0 -50%;
}

@mixin hover {
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

@mixin text-shorten($numLines: 1) {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	@supports (-webkit-line-clamp: $numLines) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: initial;
		display: -webkit-box;
		-webkit-line-clamp: $numLines;
		-webkit-box-orient: vertical;
	}
}
